* {
  box-sizing: border-box;
  margin: none;
  padding: none;
  font-size: 16px;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  background-color: rgb(225, 225, 225);
}
.App .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
}
.App .header #searchWrap {
  display: flex;
  align-items: center;
  border: 2px solid rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 30px;
  margin: 5vh 0;
  width: 40%;
}
.App .header #searchWrap span {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
.App .header #searchWrap input {
  width: 90%;
  border: none;
}
.App .header #searchWrap input:focus {
  outline: none;
}
.App .postsGrid {
  display: grid;
  padding: 2.5vh 2.5vw;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 1vw;
}
.App .postsGrid .post {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 30px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}
.App .postsGrid .post h2 {
  font-size: 1.5rem;
}
.App .postsGrid .post h3 {
  color: rgba(0, 0, 0, 0.6);
}